apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: matter
    namespace: home-assistant
spec:
    interval: 15m
    chart:
        spec:
            chart: app-template
            version: 15.29.46
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        global:
            stopAll: false
            annotations:
                k8s.v1.cni.cncf.io/networks: matter-macvlan-net
        image:
            repository: ghcr.io/home-assistant-libs/python-matter-server
            pullPolicy: IfNotPresent
            tag: 8.1.0
        TZ: America/Eastern
        persistence:
            config:
                enabled: true
                mountPath: /data
                type: pvc
                accessMode: ReadWriteOnce
                size: "10Gi"

        workload:
            main:
                podSpec:
                    #hostNetwork: true
                    containers:
                        main:
                            enabled: true
                            # securityContext:
                            #     readOnlyRootFilesystem: false
                         
        service:
             main:
                enabled: true
                ports: 
                    main:
                        port: 5580
                        targetPort: 5580
                        protocol: tcp

      