apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: librespeed
    namespace: librespeed
spec:
    interval: 15m
    chart:
        spec:
            chart: librespeed
            version: 16.11.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        global:
            stopAll: false
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: speedtest.${DOMAIN_0}
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                annotations:
                    nginx.ingress.kubernetes.io/configuration-snippet: |
                        proxy_set_header Accept-Encoding "";
                        sub_filter
                        '</head>'
                        '<link rel="stylesheet" type="text/css" href="https://theme-park.dev/css/base/librespeed/dracula.css">
                        </head>';
                        sub_filter_once on;

