apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: tautulli
    namespace: tautulli
spec:
    interval: 15m
    chart:
        spec:
            chart: tautulli
            version: 21.14.13
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        global:
            stopAll: false
        credentials:
            cloudflare:
                type: s3
                url: "${S3_URL}"
                bucket: "${S3_BUCKET}"
                accessKey: "${S3_ACCESKEY}"
                secretKey: "${S3_SECRETKEY}"
                encrKey: "${S3_ENCRKEY}"
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: tautulli.${DOMAIN_0}
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
        persistence:
            config:
                volsync:
                  - name: config
                    type: restic
                    credentials: cloudflare
                    dest:               #VolSync Destination (Restore)
                        enabled: true
                    src:                #VolSync Source (Backup)
                        enabled: true
       