apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: plex
    namespace: plex
spec:
    interval: 15m
    chart:
        spec:
            chart: plex
            version: 21.5.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        global:
            stopAll: false
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: plex.${DOMAIN_0}
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
        persistence:
            media:
                enabled: true
                type: nfs
                server: ${TRUENAS_SERVER_IP}
                path: ${PLEXMEDIA_PATH}
                mountPath: /PlexMedia/
            database:
                enabled: true
                type: nfs
                server: ${TRUENAS_SERVER_IP}
                path: ${PLEX_APP_DATA_PATH}
                mountPath: /config/Library/Application Support/Plex Media Server
        plex:
            additionalAdvertiseURL: ""
            disableGDM: true
            requireHTTPS: false
            serverIP: ${PLEX_IP}
        service:
            main:
                loadBalancerIP: ${PLEX_IP}
                type: LoadBalancer
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                PLEX_CLAIM: ""