apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: netdata
    namespace: netdata
spec:
    interval: 15m
    chart:
        spec:
            chart: netdata
            version: 13.19.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        global:
            stopAll: true
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: netdata.${DOMAIN_0}
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
        # Needed because of the talos read only file system
        persistence:
            group:
                enabled: false
            passwd:
                enabled: false
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                NETDATA_CLAIM_ROOMS: ""
                                NETDATA_CLAIM_TOKEN: ${NETDATA_CLAIM_TOKEN}
                                NETDATA_CLAIM_URL: https://app.netdata.cloud
