apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: webnut
    namespace: webnut
spec:
    interval: 15m
    chart:
        spec:
            chart: webnut
            version: 11.13.4
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system

    values:
        global:
            stopAll: false
        workload:
          main:
            podSpec:
              containers:
                main:
                  env:
                    UPS_HOST: "${TRUENAS_SERVER_IP}"
                    UPS_PORT: 3493
                    UPS_USER: upsmon
                    UPS_PASSWORD: fixmepass
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: webnut.${DOMAIN_0}
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
       